/* ===google font import  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(60, 150, 202);
}

.container {
  position: relative;
  max-width: 450px;
  width: 100%;
  border-radius: 10px;
  background-color: aliceblue;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
}

.container .form {
  
  padding: 30px;
}

.container .form .title {
  position: relative;
  font-size: 25px;
  font-weight: 600;
}
.form .title::before {
  contain: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: rgb(6, 49, 74);
  border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}
.input-field input{
    position: absolute;
   height: 100%;
   width: 100%;
   font-size: 16px;
   border: none;
   outline: none;
   padding: 0 35px;
   border-bottom: 2px solid #ccc;
   border-top: 2px solid transparent;
   transition: all 0.2s ease;
}

.input-field input:is(:focus,:valid){
  border-bottom-color:rgb(47, 123, 167) ; 
}


.input-field i{
    position: absolute;
    top: 19%;
    left: 0;
    transform: translate(19%);
    color: #999;
    font-size: 23px;
}

.input-field input:is(:focus,:valid) ~ i{
  color:rgb(47, 123, 167) ;
}

.input-field i.icon{
  left:0;
}
.input-field i.showhide{
  
 margin-left: 365px;
}


.form .checkbox-text{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.checkbox-text .checkbox-content{
  display: flex;
  align-items: center;
}

.checkbox-content input{
  margin: 0 8px -2px 4px;
  accent-color: rgb(47, 123, 167);
}
.form .text{
  color: #333;
  font-size: 14px;
}

.form a.text{
  color: rgb(47, 123, 167);;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form .button{
  margin-top: 35px;
}
.form .button input{
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color:#3652a0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover{
  background-color: #114ae4;
}
.form .login-signup{
  margin-top: 30px;
 text-align: center;
}